TCAIssue/TCAIssue.xcodeproj/project.pbxproj
TCAIssue/TCAIssue.xcodeproj/project.xcworkspace/**
TCAIssue/TCAIssue.xcodeproj/xcshareddata/**
TCAIssue/TCAIssue.xcworkspace/**
TCAIssue/TCAIssue.xcworkspace/xcshareddata/**
TCAIssue/TCAIssue.xcodeproj/xcuserdata/bakrmohamed.xcuserdatad/xcschemes
